.footer {
    background: #040a15;
    padding: 70px 8% 30px;
    border-top: 1px solid rgba(255,255,255,0.05);
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 50px;
    margin-bottom: 40px;
}

.footer-logo {
    color: #f5b400;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.footer-col h4 {
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #f5b400;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.05);
    color: #777;
    font-size: 0.9rem;
}
