<nav class="navbar">
    <div class="logo">
        <img src="images/logo.jpeg" alt="LuxeDrive Logo" class="logo-img">
    </div>

    <ul class="nav-links">
        <li><a href="index.html#home">Inicio</a></li>
        <li><a href="index.html#sobre">Sobre Nosotros</a></li>
        <li><a href="index.html#coleccion">Vehículos</a></li>
        <li><a href="index.html#contacto">Contacto</a></li>
    </ul>
    <a href="login.html">
        <img src="images/perfil.png" alt="logo" width="80">
    </a>
    <div class="menu-toggle" id="menu-toggle">☰</div>
</nav>
